In [1]:
import pandas as pd
import tqdm

df = pd.read_csv('ratings.csv')

In [2]:
df.head()

   user_id  book_id  rating
0        1      258       5
1        2     4081       4
2        2      260       5
3        2     9296       5
4        2     2318       3

In [3]:
import numpy as np
np.array(
    [
        len(df["rating"][df["rating"] == x])
        / len(df["rating"])
        for x in range(1, 6)
    ]
)

array([0.02078063, 0.06011182, 0.22938523, 0.35790605, 0.33181628])

In [4]:
p = [0.0, 0.0, 0.0, 0.0, 0.0]

num_books = len(df["book_id"].unique())
for name, group in tqdm.tqdm(df.groupby("book_id")):
    num_users = len(group)
    for rating in range(1, 6):
        p[rating - 1] += len(group[group["rating"] == rating]) / (num_books*num_users)

print(p)

100%|██████████| 10000/10000 [00:04<00:00, 2125.21it/s]

[0.018843885167828277, 0.05990234245514525, 0.23903003740020864, 0.3637214211541579, 0.31850231382266087]