In [1]:
import pandas as pd
import numpy as np

books = pd.read_csv("./postprocessed_books.csv")
ratings = pd.read_csv("./postprocessed_ratings.csv")

In [3]:
books["description"].apply(lambda x: len(x.split(" "))).describe(percentiles=[0.25, 0.5, 0.75, 0.9, 0.95, 0.99])

count    47307.000000
mean       111.122244
std         95.257422
min          1.000000
25%         34.000000
50%         87.000000
75%        164.000000
90%        237.000000
95%        287.000000
99%        409.000000
max       1928.000000
Name: description, dtype: float64

In [3]:
ratings.describe()

            book_id        rating
count  1.513047e+06  1.513047e+06
mean   9.318937e+04  4.218488e+00
std    6.225811e+04  1.188469e+00
min    1.000000e+00  1.000000e+00
25%    3.411900e+04  4.000000e+00
50%    9.059600e+04  5.000000e+00
75%    1.470680e+05  5.000000e+00
max    2.123990e+05  5.000000e+00

In [21]:
flattened_values = [item for sublist in books['categories'].tolist() for item in eval(sublist)]

# Convert the flattened values to a Series and get the value counts (distribution)
distribution = pd.Series(flattened_values).value_counts()

# Display the distribution of unique values
categories_df = distribution[distribution > 100] #.to_csv('categories.csv')

In [27]:
categories_df.to_csv('categories.csv', index=True)